<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="container">
            <div class="logo">Project Management</div>

        </nav>
    </header>

    <section>
        <div class="form-container">
            <form action="/login" method="post">
                <div>
                    <label for="">Name</label><br>
                    <input type="text" name="name" id="">
                </div>
                <div>
                    <label for="">Password</label><br>
                    <input type="password" name="password" id="">
                </div>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <button type="submit">Log In</button>
                    <a href="/register">Sign Up</a>
                </div>
            </form>
        </div>
    </section>
</body>

</html>